<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.gebogebo.android.distancecalcfree"
      android:versionCode="9"
      android:versionName="2.0" >
    <application android:icon="@drawable/ruler_launcher" android:label="@string/app_name">
		<!-- AD MOB: START -->
		<activity android:name="com.google.ads.AdActivity"
		    android:configChanges="keyboard|keyboardHidden|orientation"/>
		<!-- AD MOB: END -->
		
        <!-- millenia ads: start -->
        <activity android:name="com.millennialmedia.android.MMAdViewOverlayActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|keyboard" />
            
        <activity android:name="com.millennialmedia.android.VideoPlayer"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|keyboard" />
        <!-- millenia ads: end -->
		
        <activity android:label="@string/app_name" android:name="DistanceCalculatorActivity"
                  android:screenOrientation="portrait" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="DistanceCalculatorPrefActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.PREFERENCE" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity android:name="DistanceCalculatorReportActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="action.distancecalculator.REPORT" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <service android:name=".DistanceCalculatorService">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-sdk android:minSdkVersion="7" />

</manifest> 